# gRPC dependencies
grpcio==1.53.2
grpcio-tools==1.50.0
protobuf==4.21.9

# Database client dependencies
pandas
pymysql    # For MySQL support
psycopg2-binary
mysql-connector-python
google-cloud-bigquery
snowflake-connector-python
tabulate
